@import url(../fonts/roboto/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: #393F47;
}

.title {
  color: #fff;
  font-style: 40px;
  position: relative;
  text-transform: uppercase;
}

.title::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 6px;
  top: -40px;
  left: 0;
  background: #C8A35F;
}

.header {
  width: 100%;
  height: 100px;
  background: #2F343A;
  padding: 27px 200px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__logo {
  position: relative;
  margin-right: 60px;
}

.wrapper__logo::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 46px;
  background: white;
  right: -30px;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.nav__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.nav .placeholder {
  margin-right: 10px;
}

.home {
  background: url(../images/home/Rectangle2.png) center center/cover no-repeat;
  padding-top: 155px;
  padding-bottom: 220px;
  position: relative;
}

.home__rectangle {
  margin: 0 auto;
  width: 700px;
  height: 200px;
  border: 1px solid #C8A35F;
}

.home__title {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  margin-top: 20px;
  color: white;
}

.home__descr {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.home__page-down {
  position: absolute;
  margin-left: 645px;
  top: 500px;
}

.about-us {
  height: 561px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#393F47), color-stop(35%, #2F343A), color-stop(65%, #393F47));
  background-image: linear-gradient(90deg, #393F47 0% 35%, #2F343A 35% 65%, #393F47 65% 100%);
}

.about-us__change {
  margin-left: 570px;
  margin-top: 100px;
}

.about-us__title {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 130px;
  left: 170px;
  width: 200px;
  text-transform: uppercase;
}

.about-us__title::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 90px;
  height: 6px;
  background: #C8A35F;
}

.about-us__descr {
  color: white;
  position: absolute;
  top: 300px;
  left: 170px;
  font-size: 18px;
  width: 300px;
}

.about-us__btn {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 380px;
  left: 170px;
  background: #C8A35F;
  border: none;
  color: white;
  font-size: 15px;
}

.about-us__btn:focus {
  outline: none;
}

.about-us__arrows {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 1000px;
  top: 30px;
  line-height: 250px;
  text-transform: uppercase;
  color: #C8A35F;
}

.about-us .arrowr {
  position: absolute;
  top: 110px;
  left: 70px;
}

.about-us .arrowl {
  position: absolute;
  top: 364px;
  left: -90px;
}

.services {
  background: #2F343A;
  padding: 166px 120px 120px;
}

.services__block {
  width: 1104px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__title {
  margin-bottom: 60px;
}

.services__card {
  position: relative;
  width: 276px;
  height: 180px;
  background: #393F47;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  left: 0;
  text-align: center;
  padding-top: 128px;
}

.services__card:hover {
  background: #C8A35F;
}

.services__card:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../images/services/Vectorb.png) center center/30px 30px no-repeat;
  background-color: #fff;
}

.services__card::before {
  height: 30px;
  width: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  background: url(../images/services/Vector.png);
}

.company {
  background: #2f343a;
  margin-top: 120px;
  position: relative;
}

.company .row {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #2f343a), color-stop(30%, #393F47), color-stop(70%, #2f343a));
  background: linear-gradient(90deg, #2f343a 30%, #393F47 30% 70%, #2f343a 70%);
  padding: 80px 100px 80px 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__title {
  position: absolute;
  top: 150px;
}

.company__descr {
  font-style: 16px;
  color: #fff;
  max-width: 445px;
  position: absolute;
  top: 250px;
}

.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  margin-left: 500px;
}

.company__card {
  width: 200px;
  height: 160px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #C8A35F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__header {
  color: #2f343a;
  font-size: 64px;
}

.company__main {
  font-size: 16px;
  font-weight: bold;
}

.company__footer {
  font-size: 10px;
}

.footer {
  margin-top: -5px;
  width: 100%;
  height: 120px;
  background: #C8A35F;
  padding-top: 40px;
  padding-left: 150px;
}

.footer__logo {
  margin-left: 50px;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  margin-left: 20px;
}

.footer__address {
  margin-left: 200px;
}

.footer__adr {
  color: white;
}

.footer__mail {
  color: #2F343A;
}

.footer__number {
  color: white;
  margin-left: 600px;
  margin-top: -35px;
}

.footer .text {
  color: #2F343A;
}
/*# sourceMappingURL=style.css.map */