@import "../scss/_variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
body{
    background: #393F47;
}
.title{
    color:#fff;
    font-style: 40px;
    position: relative;
    text-transform: uppercase;
    &::before{
        content: '';
        position: absolute;
        width: 90px;
        height: 6px;
        top: -40px;
        left: 0;
        background: $gold;
    }
}
@import "../scss/header";
@import "../scss/home";
@import "../scss/about-us";
@import "../scss/services";
@import "../scss/company";
@import "../scss/footer";